:root {
  --max-col: 7;

  --day-view-size: 120px;
  --day-view-margin: 2px;

  --day-view-header-size: calc(var(--day-view-size) / 3);
  --day-view-header-margin: 2px;

  --day-view-container-padding: 2px;
  --day-view-container-size: calc(
    (var(--day-view-size) * var(--max-col)) +
      (
        var(--day-view-margin) * 2 * var(--max-col) +
          (var(--day-view-container-padding) * 2)
      )
  );
}

.day-view {
  min-width: var(--day-view-size);
  max-width: var(--day-view-size);

  min-height: var(--day-view-size);
  max-height: var(--day-view-size);

  margin: var(--day-view-margin);

  user-select: none;
}

.day-view-header {
  min-width: var(--day-view-size);
  max-width: var(--day-view-size);

  min-height: var(--day-view-header-size);
  max-height: var(--day-view-header-size);

  margin: var(--day-view-header-margin);

  user-select: none;
}

.day-view-container {
  min-width: var(--day-view-container-size);
  max-width: var(--day-view-container-size);

  padding: var(--day-view-container-padding);
}

.wfo-text {
  -webkit-text-stroke: 1px white;
}

.today-sign {
  min-width: var(--day-view-size);
  max-width: var(--day-view-size);

  min-height: var(--day-view-size);
  max-height: var(--day-view-size);
}

.today-text {
  right: 0;
}
