:root {
  --form-header-font-size: 12px;
  --form-padding: 10px;
  --form-border-radius: 10px;
}

.calended-input-text:focus {
  outline: none;
}

select {
  -webkit-appearance: none;
}

.calended-form-header {
  font-size: var(--form-header-font-size);
}

.calended-form {
  padding: var(--form-padding);
  border-radius: var(--form-border-radius);
}
