:root {
  --menu-item-size: 130px;
  --menu-item-size-margin: 8px;

  --menu-container-padding: 16px;

  --menu-width: calc(
    (var(--menu-item-size) * 3) + (var(--menu-item-size-margin) * 6) +
      (var(--menu-container-padding) * 2)
  );
}

.menu-container {
  min-height: 100%;
  max-height: 100%;

  min-width: var(--menu-width);
  max-width: var(--menu-width);

  padding: var(--menu-container-padding);

  user-select: none;
}

.menu-item {
  min-height: var(--menu-item-size);
  max-height: var(--menu-item-size);

  min-width: var(--menu-item-size);
  max-width: var(--menu-item-size);

  margin: var(--menu-item-size-margin);

  user-select: none;
}

.menu-text {
  min-width: var(--menu-item-size);
  max-width: var(--menu-item-size);
}

.menu-hide {
  right: calc(-1 * var(--menu-width));
  display: none;
}

.menu-show {
  right: 0;
  display: block;
}

.menu-item-text {
  font-size: 14px;
}
